# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lib

# Executables
*.exe

qt-proj/

releases/

dist/bin/
dist/data/
dist/doc/
dist/examples/
dist/include/
dist/lib/
dist/log/
dist/src/

dist/*.pl

reservoir/data/
reservoir/bin/
reservoir/genUI/
reservoir/lib/
reservoir/moc/

3rdParty/
scripts/fit.log
